<div class="container-app-bad">
  <h1>Voici la liste des tournois pouvant être pris en charge par le club</h1>
  <% @tournois.each do |tournoi| %>
    <div class="card-tournoi">
      <%= tournoi.nom %>
      <%= tournoi.ville %>
      <%= tournoi.date_tournoi %>
      <%= tournoi.inscription_max %>
      <%= tournoi.categories %>
      <div class="button-primary">
        <p>S'inscrire à ce tournoi</p>
      </div>
      <div class="button-primary">
        <p>Se désinscrire à ce tournoi</p>
      </div>
    </div>
  <% end %>
</div>
